<h2>Explore the blogs</h2>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= paginate @blogs %>
    <% @blogs.each do |blog| %>
      <tr>
        <td><h3><%= link_to blog.name, blog %></h3></td>
        <%  if blog_signed_in? 
	      if blog.email == current_blog.email %>
        <td><%= link_to 'Edit', edit_blog_path(blog), class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        <%    end 
	    end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create a blog', new_blog_path %>
