<%= form_for(@post, url: blog_posts_path) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <%= f.hidden_field :blog_id, value: @blog.id %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <div><%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true %></div>

    <div><%= f.label :content %><br />
    <%= f.text_area :content %></div>

    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to 'Back', blog_posts_path %>
  </div>
<% end %>


